@page "/partners"

<PageTitle>SOAR - Partners</PageTitle>
<h1 class="text-center page-header">Partners & Collaborators</h1>

<div class="d-flex flex-row flex-wrap justify-content-center gap-5">
    <img src="images/University-of-Florida-Logo.png" style="@LogoStyle"/>
    <img src="images/FloridaAquarium.jpg" style="@LogoStyle"/>
    <img src="images/NOAA.png" style="@LogoStyle"/>
    <img src="images/NationalMarineSanctuaries.jpg" style="@LogoStyle"/>
    <img src="images/ReefRenewalUSA.png" style="@LogoStyle"/>
    <img src="images/NMSF_Logo_RGB.jpg" style="@LogoStyle"/>
</div>

@code {
    private const string LogoStyle = "max-width: 100%; height: 30vh; width: auto; padding: 0 3rem 0 3rem";
}